<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>pysimCoder-socketServer</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <script src="src/client.js" type="module"></script>
    <link rel="stylesheet" href="src/client.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap"
          rel="stylesheet">

</head>
<body>

<main>
    <aside>
        <header class="with-status">
            <h1>Socket Server <br> <small>pysimCoder</small></h1>
        </header>
        <div id="__holder__clientList"></div>
    </aside>

    <article>
        <header>
            <h1 id="__holder__useClient"></h1>
        </header>

        <div id="__holder__plotData"></div>

        <div class="client-send-data">
            <h4>Data to send to client:</h4>
            <input
                    id="__holder__dataToSend"
                    type="text"
                    value=""
                    placeholder="[0.123, 255, ...]"
            />
            <div><small>use array format, eg: [0.123, 255]</small></div>

            <button class="btn" style="margin: 1rem 0 0 0;" onclick="sendArray()">Send
                data to device
            </button>
        </div>
    </article>
</main>

<footer>
    Sync:

    <a href="api/download" target="_blank" class="btn">Download server data</a>

    <input type="file" id="uploadinput" hidden/>
    <label for="uploadinput" class="file-button">Upload and merge data</label>
</footer>
</body>
</html>


